* {
  font-size: 22px;
  box-sizing: border-box;
}

header {
  width: 100%;
  margin: 0px;
}

#index-header-image {
  width: 100%;
  z-index: -1;
}

.navigation-li {
  float: left;
  list-style-type: none;
}

#navigation-ul {
  margin-top: -5%;
}

.header-nav {
  float: right;
  position: relative;
  z-index: 3;
}

.header-navigation-a {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 4px;
  background-color: #5271ff;
  color: white;
  border: 1px solid transparent;
  border-radius: 22px;
  font-size: 80%;
  padding-top: 1000 px;
  max-width: 300px;
  text-align: center;
  z-index: 3;
}

.header-navigation-a:hover {
  font-size: 110%;
  color: lightskyblue;
  border-color: #fff;
}

/* Create three equal columns that floats next to each other */
section {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}
